# Windows Android Agent：只在本机启动 Worker，本机 ADB 执行 Android 任务。
# 这些服务地址必须是 Windows 主机可出站访问的 ATP 服务地址。
APP_ENV=production
POSTGRES_HOST=<server-host>
POSTGRES_PORT=5432
POSTGRES_CONNECT_TIMEOUT_SECONDS=5
POSTGRES_DB=atp
POSTGRES_USER=atp
POSTGRES_PASSWORD=change_me
REDIS_HOST=<server-host>
REDIS_PORT=6379
REDIS_PASSWORD=change_me
REDIS_CONNECT_TIMEOUT_SECONDS=5
MINIO_HOST=<server-host>
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
MINIO_BUCKET=atp
MINIO_CONNECT_TIMEOUT_SECONDS=5
APP_SECRET_KEY=use_the_same_value_across_atp_processes
ENCRYPTION_KEY=use_the_same_value_across_atp_processes
CELERY_QUEUES=android,mobile_special
ADB_SCAN_ENABLED=true
ADB_SCAN_MODE=local
ANDROID_WORKER_ID=
ANDROID_WORKER_QUEUE=mobile_special
ANDROID_WORKER_REGISTRY_PREFIX=atp:android-worker
ANDROID_WORKER_HEARTBEAT_SECONDS=15
ANDROID_WORKER_TTL_SECONDS=45
WORKER_METRICS_PORT=0
